 /* Background color for all the web pages*/

body.index-color{background-color:black;}
body.aboutme-color{background-color:black;}
body.myportfolio-color{background-color:black;}
body.blog-color{background-color:black;}
body.contact-color{background-color:black;}


@viewport {
  width: device-width ;
  zoom: 1.0 ;
}





/* Picture Center - Index Page    */



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}











/*  Index Page    */



.contactcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}




/* Picture Right- About Me Page    */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 740px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}





 #whoissam{
    position: static ;
    top: 350px;
    left: 20px;
    font-family: 'amatic', cursive;
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    color: mediumpurple;
  }

.aboutme-img {
  position: static;
  top: 400px;
  right: 200px;

  float: right;
  background-color:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 900px; */
  text-align: left;
  font-family: arial;
  color: red;
}


/* About Me Text Decoration Code */


} .title
font-family: 'Henny Penny', cursive;
font-size:2.5em;
color: lightblue;
text-align;center
}



/* Picture Center - Contact Center    */



 .contactcenter {
  display: block;
  margin-left: inherit;
  margin-right: inherit;
  width: 30%;
}


.center-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}


.contactlink-y{
  display: block;
  margin-left:auto ;
  margin-right: auto;
}

.contactlink-i{
  display: block;
  margin-left: auto;
  margin-top: auto;    
  margin-right: auto;
}

.contactlink-g{
  display: block;
  margin-left: auto;
  margin-top: auto; 
  margin-right: auto;
}







/* blog Center - Contact Center    */

.blog-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


/* Image Wrapper */


}

#wrapper {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

}


/* universal properties */
body, html {
    height: 100%;
    color: white;
    font-family: 'Dosis', sans-serif;
      /* font-family rule copied from Google Fonts */
    font-weight: 300;
}

/* use Major Mono Display for all headings h1—h6 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Major Mono Display', monospace;
    /* font-family rule copied from Google Fonts */
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: mediumpurple;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: midnightblue;
  font-family: 'Chewy', cursive;
    /* font-family rule copied from Google Fonts */
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* Intro Text Decoration Code */

#intro {
	font-family: 'Chewy', cursive;
	font-size: 2.5em;
	color: mediumpurple;
	text-align: center;
	
}

/* Change color + highlight on hover. */
#navbar a:hover {
  color: midnightblue;
  background-color: skyblue;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.hero-image {
  background-image: url("mybanner.gif");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Center the text over the image. */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

div.stuff {
  width: 300px;
  /* height: fit-content; */
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: dotted;
  border-color: black;
  float: left;
  margin: 10px;
  padding: 5px;
}



/* Web dividers, colors */

div#first {
  background-color: #B3B1BF;
}

div#second {
  background-color: #CC9275;
}

div#third {
  background-color: #464155;
}

div#fourth {
  background-color: #4B1709;
}

div#fifth {
  background-color: #1D0902;
}




}

/* Blog Dividers */


div.blog {
  position: fixed;
  top: 550px;
  left: 200px;
  width: 600px;
  height: 380px;
  font-family: 'Dancing Script', cursive;
  /* height: fit-content; */
  float: left;
  color: #A6ABBC;
  font-size: 22px;
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: dotted;
  border-color: black;
  float: center;
  padding: 5px;
  }

  .blog-img {
    position: fixed;
    top: 550px;
    right: 300px;
    float: right;
    background-color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 900px; */
    text-align: center;
    font-family: arial;
    color: red;
  }


.contactinfo {
  position: relative;
  top: 150px;
  background-color:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 900px; */
  margin: auto;
  text-align: center;
  font-family: arial;
  /* color: #A6ABBC; */
  color: #e0bea7;
}

.title {
  color: grey;
  font-size: 18px;
}

/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

a {
  text-decoration: none;
  font-size: 27px;
  color: red;
}

.fb {
  text-decoration: none;
  font-size: 27px;
  color: #4267B2;
}

button:hover, a:hover {
  opacity: 0.7;
}

button:hover, b.fb:hover {
  opacity: 0.7;
}



/* Text Position And Dividers */
   
h1 {text-align: center;} 












